* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    background-color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.board {
    --cell-size: 20vmin;
    --cell-gap: 2vmin;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, var(--cell-size));
    grid-template-rows: repeat(4, var(--cell-size));
    gap: var(--cell-gap);
    border-radius: 1vmin;
}

.cell {
    background-color: #4e555e;
    border-radius: 1vmin;
}

.tile {
    --x: 0;
    --y: 0;
    position: absolute;
    top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)));
    left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)));
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--cell-size);
    height: var(--cell-size);
    border-radius: 1vmin;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7.5vmin;
    font-weight: bold;
    background-color: hsl(25, 60%, var(--bg--light));
    color: hsl(20, 25%, var(--text--light));
    transition: 0.1s;
    animation: show 200ms;
}

@keyframes show {
    0% {
        opacity: 0.5;
        transform: scale(0);
    }
}

.tile[value="2"]    { background: #eee4da; }
.tile[value="4"]    { background: #ede0c8; }
.tile[value="8"]    { background: #f2b179; color: #f9f6f2; }
.tile[value="16"]   { background: #f59563; color: #f9f6f2; }
.tile[value="32"]   { background: #f67c5f; color: #f9f6f2; }
.tile[value="64"]   { background: #f65e3b; color: #f9f6f2; }
.tile[value="128"]  { background: #edcf72; color: #f9f6f2; font-size: 6.5vmin; }
.tile[value="256"]  { background: #edcc61; color: #f9f6f2; font-size: 6.5vmin; }
.tile[value="512"]  { background: #edc850; color: #f9f6f2; font-size: 6.5vmin; }
.tile[value="1024"] { background: #edc53f; color: #f9f6f2; font-size: 5.5vmin; }
.tile[value="2048"] { background: #edc22e; color: #f9f6f2; font-size: 5.5vmin; }